
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Blog</title>

    <link rel="stylesheet" href="/css/style.css">

</head>

<body>



<section class="blog" id="blog">
    <div class="container blogContainer">
        <div class="row blogRow">
            <h1>Oops!!! I am still working on my blog, Please check it out later.</h1>
        </div>
    </div>
</section>

</body>
</html>
